{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
<form class="" action="{% url 'cocomo2' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
            <h4>Фактор масштаба</h4>
            <br>
			 prec {{ size_form.prec}}
             flex{{ size_form.flex}}
             resl{{ size_form.resl}}
            team{{ size_form.team}}
            pmat {{ size_form.pmat}}
		</div>
        <div class="form-group">
            <h1>Если ваш тип проекта предварительный</h1>
            <h4>Множитель трудоемкости </h4>
            <br>
            <h4>Параметры персонала</h4>
            <br>
			Pers {{ work_form.pers }}

           prex{{ work_form.prex  }}
            <br>
            <h4>Параметры ппродукта</h4>
            <br>
            rcpx{{ work_form.rcpx  }}
             ruse{{ work_form.ruse  }}
            <br>
              <h4>Параметры платформы</h4>
            <br>
            pdif{{ work_form.pdif  }}
            <h4>Параметры проекта</h4>
            <br>
            fcil{{ work_form.fcil  }}
            sced{{ work_form.sced  }}
		</div>
        <div class="form-group">
            <h1>Если ваш тип проекта детальный</h1>
            <h4>Personal Factors</h4>
            <br>
			Analyst Capability: {{ error_form.acap }}
			<br>
             Applications Experience{{ error_form.aexp }}
            Programmer Capability{{ error_form.pcap }}
             Personnel Continuity{{ error_form.pcon }}
             Platform Experience{{ error_form.pexp }}
            Language and Tool Experience:{{ error_form.ltex }}
            <br>
            <h4>Product Factors</h4>
            <br>
            Reqiered Software Reliability{{ error_form.rely }}
            Databaze size{{ error_form.data }}
            Software Product Complexity{{ error_form.cplx }}
            Requiered Reusability{{ error_form.ruse }}
             Documentation match{{ error_form.docu }}
            <br>
            <h4>Pltform Factors</h4>
            <br>
            Execution Time{{ error_form.time }}
            Main Storage{{ error_form.stor }}
            Platform Volatilitty{{ error_form.pvol }}
            <br>
            <h4>Project Factors</h4>
            <br>
            Use of software tools{{ error_form.tool }}
            Multisite Developement {{ error_form.site }}
            Requiered Dev{{ error_form.sced }}

		</div>

        <div class="form-group">
        Введите обьем ПО в кол-ве строк: {{ form.size }}
        <br>
        Тип Проекта: {{ form.sh }}
		</div>
		<button type="submit" class="btn btn-secondary" name="button">Сохранить</button>
</form>
Трудоёмкость: {{ PM }}
<br>
{#Время разработки: {{ TM }} (дней)#}

        </div>
    </div>
</div>
{% endblock %}